GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
# Use Atlas connection string. If your network blocks SRV DNS lookups, use the standard connection string
# from Atlas instead of mongodb+srv.
MONGODB_URI=mongodb://atlas-sql-6a266d532fcb43c62c918712-ktikd3.a.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
MONGODB_DB_NAME=streetvibe
PORT=3000
VITE_API_URL="https://streetvibe.onrender.com"
